@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977f3;
$primary-light: #eef5fe;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

.app {
  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  background: $primary-light;
}

.navbar--title,
.navbar--subtitle {
  margin: 0.5em 0;
}

.navbar--col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  flex-direction: column;
}

.button {
  //default browser styling reset
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;

  //new styles
  margin: 0 .5em;
  padding: .5em 1em;
}

.button--filled {
  color: white;
  border-radius: .2em;
}

.button--state-primary {
  background: $primary;
} 


